{% extends "layout.html" %} {% block content %}
<h1>Book Catalog</h1>

{% if books %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for book in books %}
  <div class="col">
    <div class="card h-100">
      <img src="{{ book.cover_url }}" class="card-img-top" alt="{{ book.title }}" />
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
        </h5>
        <p class="card-text">{{ book.author }} - {{ book.genre }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="text-center py-5">
  <img src="https://cdn-icons-png.flaticon.com/512/2702/2702134.png" alt="No books" class="img-fluid" />
</div>
{% endif %}

{% endblock %}
